@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.375);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
code {
  background-color: rgba(97, 97, 97, 0.1);
  box-decoration-break: clone;
  color: #616161;
  font-size: 0.9rem;
  padding: 0.25em;
}
blockquote {
  border-left: 3px solid rgba(13, 13, 13, 0.1);
  padding-left: 1rem;
}
div[role="toolbar"] {
  background-color: #fff;
  border-color: #7f8c9959;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.chat-markdown p {
  margin: 20px 0 !important;
}
.chat-markdown li {
  margin: 20px 0 !important;
}
